@charset "utf-8";
/*公用*/
.comWidth{width:1200px;margin-left: auto;margin-right: auto;}

/*topBar*/
.topBar{height: 31px;background-color: #F7F7F7;line-height: 31px;}

.collection{font-weight: bold;}

.topBar a:hover{color: #E46382}
.leftArea{float: left;margin-left: 20px;}
.rightArea{float: right;padding-right:10px;}



/*logo*/
.logoBar{height: 85px;background-color: #E46382;}
.logo{padding-left: 21px;padding-top: 10px;}

/*search*/
.search_box{width: 430px;padding-top: 23px;padding-left: 185px;}
.search_text{width: 350px;height: 35px;padding: 0 5px;line-height: 35px\9}/*\9表示所有的IE浏览器，不然在IE中输入时文字不会居中*/
.search_button{width: 70px;height: 35px;font-size: 14px;font-family: "Microsoft Yahei","微软雅黑";background-color: #F0A094;color: #FFF;}
.shopCar{width: 145px;height: 35px;background-color: #F0A094;margin-top: 23px;font:14px/35px "Microsoft Yahei","微软雅黑";color: #FFF;margin-right: 59px;}/*文字可以继承*/
.shopText{/*font-size: 14px;font-family: "Microsoft Yahei","微软雅黑";line-height: 35px;color: #FFF;*/height: 100%;width: 87px;border-right: 1px solid #E27A00;text-indent: 40px;}
.shopNum{width: 56px;height: 35px;border-left: 1px,solid,#FF9C01;}
/*轮播图*/
#carouse_container{width: 1000px;height:400px;overflow: hidden;position: relative;float:right;margin-left: 5px;}
#carouse_list{width: 7000px;height: 400px;position: absolute;;z-index: 1;}
#carouse_list img{float:left;}
#carouse_buttons{position: absolute;height: 10px;width: 100px;z-index: 2;bottom: 20px;left:200px;}
#carouse_buttons span{cursor: pointer;float: left;border: 1px solid #fff;width: 10px;height: 10px;border-radius: 50%;background: #333;margin-right: 5px;}
#carouse_buttons .on {  background: #E46382;}
.arrow{cursor: pointer;display: none;line-height: 39px;text-align: center;font-size: 36px;font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 180px; background-color: RGBA(0,0,0,.3); color: #fff;}
.arrow:hover{background-color:RGBA(0,0,0,.7);}
#carouse_container:hover .arrow{display: block}
#prev{left: 20px}
#next{right: 20px}
/*导航条*/
.navBox{width: 220px;height:400px;background-color: #FBEFE1;position: absolute;left:30px;float: left}
.navBox h3{width: 220px;height: 60px;background-color: #F0A094;color: #fff;text-align: center;line-height: 60px;}
.navUl li{height: 60px;text-align: center;line-height:60px;border-bottom: 1px solid #B3865C}
.navUl li a{font:14px/1 "Microsoft Yahei","微软雅黑";color: #B3865C}
.navUl li a:hover{color:#E46382;font-weight: bold;text-decoration: underline;}
.navUl .lihover{border-right:0;box-shadow: 0 0 8px #B3865C;-moz-border-shadow:0 0 8px #B3865C;-webkit-border-shadow:0 0 8px #B3865C;background: white}
.navUl .lihover .submenu{display: block;}
.navUl .lihover span{background: white;display: inline-block;z-index: 20;width: 50px;height: 60px;float: right;position: relative;right: -5px;}
.navUl li i{color: #B3865C;font-size: 14px;line-height: 50px;height: 50px;width: 50px;position: absolute;right: 5px;}
.submenu{display: none;width: 715px;position: absolute;left: 220px;top:40px;border:1px solid #B3865C;z-index: 4;background: white;box-shadow: 0 0 8px #B3865C;-moz-border-shadow:0 0 8px #B3865C;-webkit-border-shadow:0 0 8px #B3865C;b}
.leftdiv{float: left;width: 490px;margin:5px;}
.rightdiv{float: left;width: 200px;margin:5px;}
.leftdiv dl{display: block;border-bottom: 1px solid #B3865C;padding-bottom: 6px;overflow: hidden}
/*导航条详情*/
.leftdiv dl dt{display: block;float: left;width: 80px;text-align: right;height: 22px;line-height: 22px;padding-right: 6px}
.leftdiv dl dt a{color: #F0A094;font-weight: bold;text-decoration: underline;font-size: 10pt;}
.leftdiv dl dd{display: block;overflow: hidden;}
.leftdiv dl dd a{display: block;float: left;border-left: 1px solid #ccc;color:#737373;font-size: 9pt;padding: 0 10px;height: 14px;line-height: 14px;margin:4px 0;}
.leftdiv dl dt a:hover{color:#E46382 }
.leftdiv dl dd a:hover{color:#E46382 }
/*产品列表*/
/** 重置浏览器默认标签样式 */   
body,ul,li{margin:0;padding:0;list-style-type:none;} 
.bigclass:after{content: "";display: block;width: 0;height: 0;line-height: 0;clear: both;visibility: hidden;overflow: hidden;}
.menu_name{height: 50px;width: 1156px;margin-left: 30px;margin-right:30px;margin-top:20px;line-height:50px;font-size: 15pt;font-weight:bold;color: #ccc;background:#FBEFE1; }  
.center{text-align: center;}
.grid_wrapper{   
 width: 1220px;   
 height: 170px;   
 margin-top:10px;   
 margin-left: 30px; 
 }   
/*.grid{margin-left: 5px;margin-top: 5px;list-style-type:none;}*/
.grid:after{content: "";display: block;width: 0;height: 0;line-height: 0;clear: both;visibility: hidden;overflow: hidden;}   
.grid li{float:left;line-height: 350px;margin-right: 20px;margin-bottom: 10px;}   
.item{ border: 1px solid #ccc; width: 370px; height: 350px;text-align: center;position: relative;z-index: 1;}
.cakename{border:1px solid red;font:12pt;color: #B3865C;}
.clearfix:after{content: "";display: block;width: 0;height: 0;line-height: 0;clear: both;visibility: hidden;overflow: hidden;}  
/*.grid li a,.grid li a:visited{   
 display:block;   
 border: 1px solid #ccc;   
 width: 380px;   
 height: 300px;   230
 text-align: center;   
 margin-left: -5px;   
 margin-top: -5px;   
 position: relative;   
 z-index: 1;   
} */  
.grid li a:hover{border-color: #f00;z-index: 2;} 

/*定位右侧导航条*/
.anchor{height: 220px;position: fixed;right: 0;top:536px;} 
.anchor ul{border: 1px solid #B3865C;}
.anchor li a{display:block;font-size: 16px;width:60px;height:25px;line-height: 25px;text-align: center;margin:5px 0;}
.anchor li a:hover,.anchor_current{background: #F0A094;color:#fff;}